* {
    box-sizing: border-box;
}
  
body {
    background-color: #621402;
    font-family: "Roboto", sans-serif;
    color:white;
}
 
.container {
    max-width: 1170px;
    margin: auto;
}

.header{
    min-height: 100vh;
    background:  linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), 
    url("../img/bg.jpg") no-repeat center top / cover;
}

.navbar {
    display: flex;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 57px;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.user {
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
}

.avatar {
    width: 33px;  
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.film {
    color: white;
    margin-top: 60px;
}
  
.film-title-small {
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;    
}
  
.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}
  
.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}
  
.film-trailer {
    margin: auto;
}

.film{
    display: flex;
    align-items: center;
}
.film-details{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.time {
    align-items: center;
    display: flex;
}
  
.time-icon {
    margin-right: 14px;
}
  
.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}
  
.rating-icon {
    margin-right: 14px;
}
  
.rating-current {
    font-size: 24px;
    line-height: 150%;
}
  
.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}

.session-label {
    display: block;
    margin-bottom: 20px;
}
  
.session-date-block {
    display: flex;
}
  
.session-date-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    height: 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
}
  
.session-month {
    font-size: 16px;
    line-height: 19px;
}

.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

.session-date-item:hover {
    background-color: #fe8e05;
    color: #621402;
 }
   
.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}
  
option{
    color: black;
}
  
.select-cinema {
    width: 470px;
}

.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-bottom: 40px;
}
  
.scheme-svg {
    max-width: 1170px;
    max-height: 600px;
}
  
.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
  
.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}
  
.scheme path.booked,
.scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}
  
.scheme path.active,
  .scheme path.active:hover {
    fill: #fe8e05;
}

.legend {
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 90%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
}
  
.legend svg {
    margin-right: 15px;
}
  
.legend-label {
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    margin-right: 30px;
}

.price {    
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.pri—Åe-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}
  
.price-tag {
    font-size: 52px;
    line-height: 61px;
}
  
.button {
    display: block;
    background: #fe8e05;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    text-decoration: none;
}